<!-- create post modal -->
<div id="modal-backdrop" class="hide"></div>
<div id="create-post-modal" class="hide">
  <div class="modal-content">

    <div class="modal-header">
      <h3>New Find</h3>
      <button type="button" class="close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="input-element">
        <label for="topic-text"> Topic </label>
        <select id="topic-text" placeholder = "Natural Treasures">
          <option value="General">General</option>
          <option value="Natural Treasures">Natural Treasures</option>
          <option value="Geo Caching">Geo Caching</option>
        </select>
      </div>
      <div class="input-element">
        <label for="picture-text"> Picture URL </label>
        <textarea id="picture-text" placeholder = "Url to the treasr picture" ></textarea>
      </div>
      <div class="input-element">
        <label for="post-text"> Finding </label>
        <textarea id="post-text" placeholder = "What treasr have you found?" ></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="cancel-button">Cancel</button>
      <button type="button" class="accept-button">Finish</button>
    </div>

  </div>
</div>
