<!-- create post modal -->
<div id="modal-backdrop" class="hide"></div>
<div id="create-post-modal" class="hide">
  <div class="modal-content">

    <div class="modal-header">
      <h3>New Post</h3>
      <button type="button" class="close-button">&times;</button>
    </div>

    <div class="modal-body">
      <!-- input for photo here??? -->
      <div class="post-input-element">
        <label for="post-text">Post</label>
        <textarea id="post-text"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="cancel-button">Cancel</button>
      <button type="button" class="accept-button">Finish</button>
    </div>

  </div>
</div>
