<div id="sidebar">
  <div id="side-header">
    <img src="photos/temp-logo.svg" alt="Treasr Logo" title="Treasr Logo" id="site-logo" />
    <h1 id="site-title">Treasr</h1>
  </div>
  <div class="side-searchbar">
    <input type="text" id="search-input" placeholder="Dig for Treasure...">
    <button type="button" id="search-button">Search</button>
  </div>
  <h2 class="side-nav-title">Boards</h2>
  <nav class="nav-container">
    <a href="/" class="side-link">Home</a>
    <a href="/trending" class="side-link">Trending</a>
    <a href="/natural-treasures" class="side-link">Natural Treasures</a>
    <a href="/geo-caching" class="side-link">Geo Caching</a>
    <a href="#" class="side-link">More Boards</a>
  </nav>
<<<<<<< HEAD
  <div>
    <btton type = "button" class = "new-post-button"> <i> New Thread </i> <button>
      {{< createpost}}
    <button type = "button" class = "settings-button"> <i> Settings </i> <button>
=======
  <div class="side-button">
<<<<<<< HEAD
    <button type = "button" class = "new-post-button">New Post</button>
    <button type = "button" class = "settings-button">Settings</button>
=======
    <button type = "button" class = "new-post-button"> <i> New Post </i> </button>
    <button type = "button" class = "settings-button"> <i> Settings </i> </button>
>>>>>>> ffb1f66e889b60b48b16f8239ee9af9eb8325a86
>>>>>>> 6daf7ab590cee0495fe37763f16ea9bf7059d840
      <!-- made settings a button in case we put some funtionality with it, otherwise we can leave it -->
  </div>
</div>
