<div id="sidebar">
  <div id="side-header">
    <a href="/">
      <img src="photos/temp-logo.svg" alt="Treasr Logo" title="Treasr Logo" id="site-logo" />
      <h1 id="site-title">Treasr</h1>
    </a>
  </div>
  <div class="side-searchbar">
    <input type="text" id="search-input" placeholder="Dig for Treasure...">
    <button type="button" id="search-button">Search</button>
  </div>
  <h2 class="side-nav-title">Boards</h2>
  <nav class="nav-container">
    <a href="/" class="side-link">Trending</a>
    {{#each pageNames}}
      {{> sidebarlink}}
    {{/each}}
  </nav>
  <div class="side-button">
    <button type = "button" class = "new-post-button">New Post</button>
    <button type = "button" class = "settings-button">Settings</button>
  </div>
</div>
