<div id="sidebar">
  <div id="side-header">
    <img src="photos/temp-logo.svg" alt="Treasr Logo" title="Treasr Logo" id="site-logo" />
    <h1 id="site-title">Treasr</h1>
  </div>
  <div class="side-searchbar">
    <input type="text" id="search-input" placeholder="Dig for Treasure...">
    <button type="button" id="search-button">Search</button>
  </div>
  <h2 class="side-nav-title">Boards</h2>
  <nav class="nav-container">
    <a href="/" class="side-link">Home</a>
    <a href="/trending" class="side-link">Trending</a>
    <a href="/natural-treasures" class="side-link">Natural Treasures</a>
    <a href="/geo-caching" class="side-link">Geo Caching</a>
    <a href="#" class="side-link">More Boards</a>
  </nav>
  <div class="side-button">
    <button type = "button" class = "new-post-button"> <i> New Post </i> </button>
    <button type = "button" class = "settings-button"> <i> Settings </i> </button>
      <!-- made settings a button in case we put some funtionality with it, otherwise we can leave it -->
  </div>
</div>
