<div id="sidebar">
  <h>Treasr</h>
  <div class="searchbar" class="side-link">
    <input type="text" id="search-input" placeholder="Dig for Treasure...">
    <button type="button" id="search-button">   </button> <!-- We need to add a searchbar image here, like in assignment 3 but idk if I want to us the exact same one.  -->
  </div>
    <a href="#" class="side-link">Home</a>  <!-- We will probably want to turn some of these into buttons, like the close-modal button in assig 3 -->
  <label for = "nav-container"> Boards <label>
  <nav class = "nav-container">
    <a href="#" class="side-link">Trending</a>
    <a href="#" class="side-link">Natural Treasures</a>
    <a href="#" class="side-link">Geo Caching</a>
    <a href="#" class="side-link">More Boards</a>
  </nav>
  <div>
    <btton type = "button" class = "new-post-button"> <i> New Thread </i> <button>
      {{< createpost}}
    <button type = "button" class = "settings-button"> <i> Settings </i> <button>
      <!-- made settings a button in case we put some funtionality with it, otherwise we can leave it -->
  </div>
</div>
