<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Treasr</title>
    <link rel="stylesheet" href="style.css" media="screen">
    <script src="/index.js" charset="utf-8" defer></script>
    <script src="/posttemp.js" charset="utf-8" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
