{{> sidebar}}

<div class="post-container" id="main">
  <a id="sidebar-hide-button"><p id="hide-button-content"></p></a>

  <h2 id="page-title">{{pageTitle}}</h2>
  <div class="hide">
    {{#checklength posts 0}}
      {{reverseArray posts}}
    {{/checklength}}
  </div>

  {{#each posts}}
    {{> posttemp}}
  {{/each}}

  {{> createpost}}
</div>
