/* CSS variables */
:root {
  --sideBarBackgroundColor: yellow;
  --sideBarTransitionTime: 0.5s;
  --sideBarInitialWidth: 0;
}
/* ======================================
              General css
======================================== */
body {}

h1, h2, h3, h4, h5, h6 {margin: 0;}

/* ======================================
              Sidebar css
======================================== */
#sidebar {
  width: var(--sideBarInitialWidth);
  height: 100%;
  position: fixed;
  left: 0;
  background-color: var(--sideBarBackgroundColor);
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  white-space: nowrap;
  transition: var(--sideBarTransitionTime);
}

<<<<<<< HEAD
.hide {
  display: none;
=======
#sidebar * {
  transition: 0.3s;
>>>>>>> ffb1f66e889b60b48b16f8239ee9af9eb8325a86
}

#sidebar-hide-button {
  width: 50px;
  height: 50px;
  color: black;
  background-color: var(--sideBarBackgroundColor);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  /* Position the button */
  position: absolute;
  left: var(--sideBarInitialWidth);
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--sideBarTransitionTime);
}

#hide-button-content {
  margin-left: 30px;
}

#side-header {
  max-width: 50%;
  margin: 10px auto;
  text-align: center;
}
#site-logo {
  width: 20px;
  height: 20px;
}
#site-title {
  margin: 0;
}

.side-searchbar {
  text-align: center;
  margin: 10px 0;
  padding-top: 10px;
  border-top: 2px solid black;
}

.side-nav-title {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  width: 100%;
}

.nav-container {
  margin: 10px 0;
  border-bottom: 2px solid black;
}

.side-link {
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}
.side-link:visited {}
.side-link:hover {
  color: red;
}
.side-link:active {}

.new-post-button, .settings-button {
  display: block;
  margin: 10px auto;
}

/* ======================================
              Main css
======================================== */
#main {
  margin-left: var(--sideBarInitialWidth);
}

#page-title {
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.post-container {
  width: 98%;
  height: 19%;
  display: flex;
  flex-direction: column;
  transition: var(--sideBarTransitionTime);
}

.error-container {
  transition: var(--sideBarTransitionTime);
}

/* ======================================
          Individual Post css
======================================== */
.post {
  width: 94%;
  margin: 10px 0 10px auto;
  padding-right: 2%;
  padding-left: 1%;
  border: solid black;
  background-color: lightblue;
  padding-bottom: 1%;
}

img {
  padding-left: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-height: 200px;
  max-width: 200px;
  float: left;
}

.text {
  display: inline;
  padding-left: 10px;
}
