/* CSS variables */
:root {
  --sideBarBackgroundColor: #F9BF77;
  --sideBarTransitionTime: 0.5s;
  --sideBarInitialWidth: 0;
  --sideLinkBacgroundColor: rgb(153,101,21);
  --mainBackgroundColor: #FDEEDD;
  --postBackgroundColor: #C2C9DD;
}
/* ======================================
              General css
======================================== */
body {
  background: var(--mainBackgroundColor);
}

h1, h2, h3, h4, h5, h6 {margin: 0;}

/* ======================================
              Sidebar css
======================================== */
#sidebar {
  width: var(--sideBarInitialWidth);
  height: 100%;
  position: fixed;
  left: 0;
  background: #F9BF77;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  white-space: nowrap;
  transition: var(--sideBarTransitionTime);
  border-right: 2px solid black;
}

#sidebar * {
  transition: 0.3s;
}

#sidebar-hide-button {
  width: 50px;
  height: 50px;
  color: black;
  background: var(--sideBarBackgroundColor);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  /* Position the button */
  position: fixed;
  left: var(--sideBarInitialWidth);
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--sideBarTransitionTime);
  border-right: 2px solid black;
}

#hide-button-content {
  margin-left: 30px;
}

#side-header, #side-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
#side-header a {
  padding: 10px 0;
  text-decoration: none;
  color: inherit;
}
#site-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#site-title {
  margin: 0;
}

.side-searchbar {
  text-align: center;
  border-top: 2px solid black;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
#search-input {
  margin: 10px 0;
  border-radius: 5px;
}
#search-button {
    border-radius: 5px;
}

.side-nav-title {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  width: 100%;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.nav-container {
  border-bottom: 2px solid black;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.side-link {
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
}
.side-link:visited {}
.side-link:hover {
  background-color: var(--sideLinkBacgroundColor);
}
.side-link:active {}

.side-button {}

.side-button button {
  display: block;
  width: 100%;
  border: none;
  color: inherit;
  background-color: transparent;
  padding: 5px 0;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  transition: 0s color;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.side-button button:hover {
  background-color: var(--sideLinkBacgroundColor);
}

.side-button button:focus {
  outline: 0px solid transparent;
}

.side-button button:active {}

/* ======================================
              Main css
======================================== */
#main {
  margin-left: var(--sideBarInitialWidth);
}

#page-title {
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: var(--sideBarTransitionTime);
}

.error-container {
  transition: var(--sideBarTransitionTime);
}

/* ======================================
          Individual Post css
======================================== */
.post-and-replies {
  margin: 20px 0 0 auto;
  width: 95%;
}

.post {
  position: relative;
  width: 100%;
  border: 2px solid #789BBD;
  background: var(--postBackgroundColor);
}

.post img {
  max-height: 200px;
  max-width: 200px;
  float: left;
  margin: 10px;
}

.clear {
  clear: both;
}

.content {
  padding: 10px 0 10px 10px;
}

.text {
  display: inline;
}

/* Post Buttons */
.report-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
}

.post-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.like-button {}
.like-number {
  display:inline;
}
.reply-button {}
.view-button {}

/* creat ppost modal*/
.new-post-button {
  cursor: pointer;
}

.new-post-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

#create-post-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: scroll;
}

.modal-content {
  width: auto;
  max-width: 800px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 5px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 20px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.input-element {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px 0;
}

.input-element label {
  font-size: 20px;
  flex: 1 75px;
  margin-right: 10px;
}

.input-element input, {
  flex: 6 200px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.input-element textarea {
  min-height: 64px;
  flex: 6 200px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .cancel-button:hover {
  background-color: #eee;
}

.modal-footer .accept-button {
  background-color: #F9BF77;
  color: #fff;
}

.modal-footer .accept-button:hover {
  background-color: #087dde;
}

/* reply css */
.reply-container, .create-reply {
  position: relative;
  width: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: var(--postBackgroundColor);
  margin: 0 0 0 auto;
}

.reply {
  border-bottom: 2px solid black;
  padding: 10px;
}

.create-reply {
  position: relative;
  border-bottom: 2px solid black;
  display: block;
}
.create-reply div {
  margin: 0 auto;
  padding: 10px;
}
.create-reply textarea {
  width: 99.3%;
}
.create-reply-button, .cancel-reply-button {
  position: relative;
  left: 10px;
  bottom: 10px;
}

.hide, .hide2 {
  display: none;
}
